<a href="https://colab.research.google.com/github/amrit2711tech/Assignment/blob/main/Amritpreet_kaur.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

Assignment No. 1

In [ ]:
#Create variables to store your name (string), age (integer), and course (string). Print all of them
#using a single print() statement.
Name, Age, Course="amrit",20,"Btech"

print(Name,Age,Course)

amrit 20 Btech

In [ ]:
#Write a program to swap two numbers without using a third variable. Example: a = 4, b = 9.
x=4
y=9
x,y=y,x
print(x)

9

In [ ]:
#Arithmetic operations
x=20
y=15

print(x+y) #sum
print(x-y )#difference
print(x/y) #divide
print(x%y) #remainder
print(x*y) #product

35
5
1.3333333333333333
5
300

In [ ]:
#Take marks of 5 subjects and calculate the total and percentage
a=80 #subject1
b=97 #subject2
c=78 #subject3
d=89 #subject4
e=85 #subject5

total= a+b+c+d+e
print (total)
percentage= total/500*100
print(percentage)

429
85.8

In [ ]:
#Use compound assignment operators
x = 10
print(x)

x += 5
print(x)

x *= 2
print(x)

x -= 4
print(x)

x /= 2
print(x)

10
15
30
26
13.0

In [ ]:
#Relational operator check
a = 10 # first number
b = 7 #second number

if a == b:
    print("Both are equal")
elif a > b:
    print("First is greater")
else:
    print("Second is greater")

First is greater

In [ ]:
# Logical operator challenge
is_raining = True
have_umbrella = False

print(is_raining & have_umbrella)

print(is_raining | have_umbrella)

if not is_raining or (is_raining and have_umbrella): #not is_raining= false
    print("You can go outside.")                     # is_raining and have_umbrella= false then it gives output false
else:                                                #false or false gives false
    print("You cannot go outside.")

False
True
You cannot go outside.

In [ ]:
#Identity operator
list1 = [1, 2, 3]
list2 = [3, 2, 1]

print(list1 == list2)
print(list1 is list2)

False
False

In [ ]:
#Bitwise operation
a=17
b=23

print(a & b) #AND
print(a|b)  #OR
print(a^b)   #XOR

17
23
6

In [ ]:
# Variable types and typecasting
a = 5
b =4.5

print("Type of int_num:", type(a))
print("Type of float_num:", type(b))

sum  = a+b
print("Sum as integer:",(sum))

Type of int_num: <class 'int'>
Type of float_num: <class 'float'>
Sum as integer: 9.5

Assignment No. 2

In [ ]:
#to print number 1 to 10 but stop the loop when number reaches 9
for i in range(1,14):
    if i==9:
        break
    print(i)

1
2
3
4
5
6
7
8

In [ ]:
#enter the number
num=int(input("enter the number"))
if num>=0:
    print("enter the number:",num)
else:
    print("stop,you enter the negative number",num)

enter the number5
enter the number: 5

In [ ]:
#find first even number in a list
list=[1,2,5,8,11,14]
for num in list:
    if num%2==0:
        print("first even number is:",num)
        break

first even number is: 2

In [ ]:
#sum exceeds 25
A=[5,10,5,7,9,11,15]
total=0
for a in A:
    total+=a
    if total>=25:
        print("total sum:",total)
        print("last number added:",a)

total sum: 27
last number added: 7
total sum: 36
last number added: 9
total sum: 47
last number added: 11
total sum: 62
last number added: 15

In [ ]:
#guess da password
while True:
    password=input("enter the password")
    if password=="admin123":
        print("access granted")
        break
    else:
        print("guess the password")

enter the passwordadmin123
access granted

In [ ]:
#print multiplies of 7 stop the value is greater than 100
i=1
while True:
    result=7*i
    if result>100:
        break
    print(f"7*{i}={result}")
    i+=1

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
7*11=77
7*12=84
7*13=91
7*14=98

In [ ]:
#print multiplies of 7 stop the value is greater than 100
i=1
while True:
    result=7*i
    if result>100:
        break
    print(f"7*{i}={result}")
    i+=1

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
7*11=77
7*12=84
7*13=91
7*14=98

Assignment 3

In [ ]:
#REVERSE WORDS IN SENTENCE
sentence="i love python"
words=sentence.split()
words.reverse()
reversed_sentence=' '.join(words)
print(reversed_sentence)

python love i

In [ ]:
#COUNT CONSONANTS:
string="hello world"
vowels='aeiouAEIOU'
count=0
for ch in string:
    if ch.isalpha() and ch not in vowels:
        count+=1
print(count)

7

In [ ]:
#CHECK IF TWO STRINGS ARE ANAGRAMS
s1="Listen"
s2="Silent"
s1_sorted=sorted(s1.lower())
s2_sorted=sorted(s2.lower())
if s1_sorted==s2_sorted:
    print("Anagram")
else:
    print("Not Anagram")

Anagram

In [ ]:
#FIRST UNIQUE CHARACTER
string="swiss"
for ch in string:
    if string.count(ch)==1:
        print(ch)
        break

w

In [ ]:
#COMPRESS STRING
s="aaabbc"
compressed=""
i=0
while i<len(s):
    count=1
    while i+1<len(s) and s[i]==s[i+1]:
        count+=1
        i+=1
    compressed+=s[i]+str(count)
    i+=1
if len(compressed)<len(s):
    print(compressed)
else:
    print(s)

aaabbc

In [ ]:
#LONGEST PALINDROMIC SUBSTRING:
s="babad"
max_len=0
result=""
for i in range(len(s)):
    for j in range(i+1,len(s)+1):
        substr=s[i:j]
        if substr==substr[::-1] and len(substr)>max_len:
            result=substr
            max_len=len(substr)
print(result)

In [ ]:
#VALID PARENTHESES
s="({[]})"
stack=[]
mapping={')':'(','}':'{',']':'['}
valid=True
for ch in s:
    if ch in mapping.values():
        stack.append(ch)
    elif ch in mapping:
        if not stack or stack.pop()!=mapping[ch]:
            valid=False
            break
if stack:
    valid=False
print("valid"if valid else"invalid")

valid

In [ ]:
#word ladder transformation steps
from collections import deque
start="hit"
end="cog"
wordlist=["hot","dot","dog","lot","log","cog"]
wordSet=set(wordlist)
queue=deque([(start,1)])
while queue:
    word,steps=queue.popleft()
    if word==end:
        print(steps)
        break
    for i in range(len(word)):
        for c in'abcdefghijklmnopqrstuvwxyz':
           next_word=word[:i]+c+word[i+1:]
           if next_word in wordSet:
             wordSet.remove(next_word)
             queue.append((next_word,steps+1))
else:
    print(0)

5

Assignment 4

In [ ]:
Class= {"student1":55,
       "student2":69,
       "student3":77,
       "student4":89,
       "student5":45}
print(Class)

{'student1': 55, 'student2': 69, 'student3': 77, 'student4': 89, 'student5': 45}

In [ ]:
#COUNT THE FREQUENCY OF EACH CHARACTER IN A GIVEN STRING
string="hello amrit"
freq={}

for char in string:
    if char!=" ":
        freq[char]=freq.get(char,0)+1
print(freq)

{'h': 1, 'e': 1, 'l': 2, 'o': 1, 'a': 1, 'm': 1, 'r': 1, 'i': 1, 't': 1}

In [ ]:
#PRINT THE NAME OF THE OLDEST PERSON
Person={"person1":56,"person2":33,"person3":18,"person4":65,"person5":40}
oldest_person=max(Person,key=Person.get)
print("the oldest person is:",oldest_person)

the oldest person is: person4

In [ ]:
#MERGE TWO DICTIONARIES
dict1={"aman":1,"anmol":2,"arsh":3}
dict2={"diljeet":4,"dilpreet":5}
dict3=dict1|dict2
print(dict3)

{'aman': 1, 'anmol': 2, 'arsh': 3, 'diljeet': 4, 'dilpreet': 5}

In [ ]:
#KEYS ARE NUMBER BETWEEN 1 TO 10 AND VALUES ARE THEIR SQUARE
dict={x:x**2 for x in range(1,11)}
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#INVERTS A DICTIONARY
dict={'a':1,'b':2,'c':3,'d':4}
inverted_dict={value:key for key,value in dict.items()}
print("inverted dictionary is:",inverted_dict)

inverted dictionary is: {1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
#NESTED DICTIONARY OF STUDENTS AND THEIR SUBJECT WISE MARKS.CALCULATE AND PRINT AVERAGE MARKS FOR STUDENT
students={"student1":{'eng':55,'pbi':44,'math':60,'sci':33,'sst':44},
          "student2":{'eng':45,'pbi':74,'math':60,'sci':83,'sst':94},
          "student3":{'eng':57,'pbi':94,'math':40,'sci':53,'sst':34},
          "student4":{'eng':45,'pbi':54,'math':50,'sci':43,'sst':54},
          }
for name,subjects in students.items():
    avg=sum(subjects.values())/len(subjects)
    print(name,"average is",avg)

student1 average is 47.2
student2 average is 71.2
student3 average is 55.6
student4 average is 49.2

In [ ]:
#GROUP WORDS BY THEIR LENGTH FROM A LIST USING DICTIONARY
list=['apple','banana','orange','guava','papaya','kiwi','chiku']
group={}
for word in list:
    l=len(word)
    group.setdefault(l,[]).append(word)
print(group)

{5: ['apple', 'guava', 'chiku'], 6: ['banana', 'orange', 'papaya'], 4: ['kiwi']}

In [ ]:
#Create a program that takes a list of tuples (name, score) and builds a dictionary
#where each name is a key, and the value is a list of all their scores. Then calculate and print
#each person's average score.
list=[('aman',78),('avrit',44),('komal',55),('dilpreet',66),
      ('aman',78),('avrit',44),('komal',55),('dilpreet',66)]
score_dict={}
for name,score in list:
    if name in score_dict:
        score_dict[name].append(score)
    else:
        score_dict[name]=[score]
print(score_dict)
for name,score in score_dict.items():
    avg=sum(score)/len(score)
    print(name,"average is",avg)

{'aman': [78, 78], 'avrit': [44, 44], 'komal': [55, 55], 'dilpreet': [66, 66]}
aman average is 78.0
avrit average is 44.0
komal average is 55.0
dilpreet average is 66.0

Assignment 5

In [ ]:
#wap to make a pyramid
rows=int(input("enter the number of rows:"))
for i in range(1,rows+1):
    print(" "*(rows-i),end="")
    print("*"*(2*i-1))

enter the number of rows:5
    *
   ***
  *****
 *******
*********

In [ ]:
#create a pattern
rows=int(input("enter the number of rows:"))
for i in range(1,rows+1):
    print("*"*i)

enter the number of rows:4
*
**
***
****

In [ ]:
#create a square pattern
size=int(input("enter the size of square:"))
for i in range(size):
    print("*"*size)

enter the size of square:4
****
****
****
****

In [ ]:
#create a circular pattern
import math
radius=int(input("enter radius of the circle:"))
for y in range(-radius,radius+1):
    for x in range(-radius,radius+1):
        if abs(x**2+y**2-radius**2)<radius:
            print("*",end="")
        else:
            print(" ",end="")
    print()

enter radius of the circle:4
   ***
 **   **
 *     *
*       *
*       *
*       *
 *     *
 **   **
   ***

In [ ]:
#create a rectangular pattern
rows=int(input("enter the number of rows:"))
columns=int(input("enter the number of columns:"))
for i in range(rows):
    print("*"*columns)

enter the number of rows:4
enter the number of columns:5
*****
*****
*****
*****

Assignment 6

In [ ]:
#TO CREATE A TULE WITH DIFFERENT DATA TYPES AND PRINT ITS TYPE
tuple=("hello",2,3.14,True)
print(tuple)
print("type:",type(tuple))

('hello', 2, 3.14, True)
type: <class 'tuple'>

In [ ]:
#GIVEN A TUPLE t=(10,20,30,40,50),write a program to access the second last element
t=(10,20,30,40,50)
second_last_element=t[-2]
print("second last element is:",second_last_element)

second last element is: 40

In [ ]:
#to count number of times a given element appears in a tuple
tuple=(2,5,6,4,8,10,4,6,6,9,10)
t=tuple.count(6)
print(t)

3

In [ ]:
#to convert a tuple of strings into a single string.example:('python','is','fun')
tuple=('python','is','fun')
single_string=' '.join(tuple)
print(single_string)

python is fun

In [ ]:
#to find the index of an element in a tuple
tuple=(2,5,6,8,9,10)
t=tuple.index(9)
print(t)

4

In [ ]:
#create two sets and perform union,intersection,and difference operations
set1={'apple','mango','banana','orange','chiku'}
set2={'muskmelon','strawberry','kiwi','melon'}
union=set1.union(set2)
print("union:",union)
intersection=set1.intersection(set2)
print("intersection:",intersection)
difference=set1.difference(set2)
print("difference:",difference)

union: {'orange', 'banana', 'apple', 'mango', 'melon', 'chiku', 'strawberry', 'muskmelon', 'kiwi'}
intersection: set()
difference: {'orange', 'banana', 'apple', 'mango', 'chiku'}

In [ ]:
#check if a given element is present in a set or not
set1={'apple','banana','mango','watermelon','papaya'}
element=input("enter an element to check:")
if element in set1:
    print(f"{element} is present in the set")
else:
    print(f"{element} is not present in the set")

enter an element to check:kiwi
kiwi is not present in the set

In [ ]:
#to remove duplicate elements from a list using a set
my_list=[10,20,30,40,50,10,20,20,90]
unique_list= list(set(my_list))
print("original list:",my_list)
print("list after removing duplicates:",unique_list)

original list: [10, 20, 30, 40, 50, 10, 20, 20, 90]
list after removing duplicates: [40, 10, 50, 20, 90, 30]

In [ ]:
#find symmetric difference between two sets
set1={'apple','mango','orange','kiwi','melon'}
set2={'strawberry','kiwi','watermelon'}
symmetric_diff=set1.symmetric_difference(set2)
print(symmetric_diff)

{'orange', 'apple', 'mango', 'strawberry', 'watermelon', 'melon'}

In [ ]:
#given a list of numbers,write a python program to find all unique elements using sets
#python now thinks set is a dictionary,not the actual built.in set() function.
list=[2,1,3,5,6,2,4,8,9,10,5,6,7]
unique_elements=set(list)
print("unique elements are:",unique_elements)

unique elements are: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Assignment 7

In [ ]:
#Write a function to find the factorial of a number using recursion
def fact(n):
    if n<0:
        return "factorial is not defined for negative numbers"
    elif n==0 or n==1:
        return 1
    else:
        result=1
        for i in range(2,n+1):
            result*=i
        return result
print(fact(8))

40320

In [ ]:
#Write a function that checks whether a number is prime or not
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True
print(is_prime(7))

True

In [ ]:
#Create a function that takes a string as input and returns the
# number of vowels in it.
def count_vowels(s):
    vowels='aeiouAEIOU'
    count=0
    for char in s:
        if char in vowels:
            count+=1
    return count
text=input("enter the string:")
print("Number of vowels:",count_vowels(text))

enter the string:amritpreet kaur
Number of vowels: 6

In [ ]:
#Write a function that accepts a list of numbers and
# returns the maximum and minimum values.
def max_min(number):
    maxi=max(number)
    mini=min(number)
    return maxi,mini
x=list(map(int,input("enter a list of numbers separated by comma(,):").split(",")))
maxi,mini=max_min(x)
print(f"maximum value:{maxi}")
print(f"minimum value:{mini}")

enter a list of numbers separated by comma(,):1,2,44,555
maximum value:555
minimum value:1

In [ ]:
#Write a Python function to calculate the nth Fibonacci number using recursion
def fibonacci(n):
    if n<=0:
        return 0
    elif n==1:
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-2)
n=int(input("enter any number:"))
print(f"the{n}th fibonacci number is:",fibonacci(n))

enter any number:33
the33th fibonacci number is: 3524578

In [ ]:
# Create a function that accepts two numbers and returns
#  their greatest common divisor (GCD).
import math
def gcd(a,b):
    return math.gcd(a,b)
num1=int(input("enter the num1:"))
num2=int(input("enter the num2:"))
print("GCD IS:",gcd(num1,num2))

enter the num1:36
enter the num2:64
GCD IS: 4

In [ ]:
# Write a function that takes a list and returns a new list
# with only unique elements
def unique_elements(list1):
    return list(set(list1))
my_list=list(input("enter a list separated by a comma(,):").split(','))
print(f"unique elements is:{unique_elements(my_list)}")

enter a list separated by a comma(,):2,44,44,55,79,79,90
unique elements is:['55', '44', '79', '2', '90']

In [ ]:
# Write a function to count the frequency of each word in a given string
def word_frequency(s):
    words=s.split()
    freq={}
    for word in words:
        word=word.lower()
        freq[word]=freq.get(word,0)+1
    return freq
text=input("enter a string separated by a space:")
print(word_frequency(text))

enter a string separated by a space:THE cat this is the cat
{'the': 2, 'cat': 2, 'this': 1, 'is': 1}

In [ ]:
# Write a function that takes a number and returns True
# if it is a palindrome, otherwise False
def is_pallindrome(n):
    s=str(n)
    return s==s[::-1]
number=int(input("enter the number:"))
print(is_pallindrome(number))

enter the number:121
True

In [ ]:
#Create a function that takes a temperature in Celsius and
#  returns it in Fahrenheit
def celsius_to_fahrenheit(celsius):
    return ((celsius*9/5)+32)
temp=int(input("enter the temperatue:"))
print("fahrenheit is:",celsius_to_fahrenheit(temp))

enter the temperatue:34
fahrenheit is: 93.2

Assignment 9